@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body, html{
    background-color: rgba(24,24,25,255);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
  text-align: center;
}

.dashtext{
  justify-content: center;
}
#greeting{
  display: none;
}

h1{
    color: white;
    font-size: 60px;
    font-family: "Montserrat";
}
h2{
    color: white;
    font-size: 55px;
    font-family: "Montserrat";
}
p{
    color: white;
    font-size: 40px;
    font-family: "Montserrat";
}
h3{
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
}

a{
    text-decoration: none;
  }
  a:link {
    color: white;
  }
  /* visited link */
  a:visited {
    color: white;
  }
  /* mouse over link */
  a:hover {
    color: gray;
  }
  /* selected link */
  a:active {
    color: gray;
  }

footer {
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: max-content;
    text-align: center;
    font-family: "Montserrat";
  }
  .login {
    display: none;
}

.logincheck {
  display: none;
}

  .button-container {
    text-align: center;
  }
  
  .button {
    display: block;
    padding: 10px 25px;
    margin: 10px;
    font-size: 16px;
    background-color: rgb(57, 55, 55);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", monospace, sans-serif;
  }
  
  .button:hover {
    background-color: rgb(40, 40, 40)
  }

.test{
  display: none;
}
.center-box {
  background-color: rgb(16,16,18);
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-box {
  transition: transform 0.2s;
  background-color: rgba(44,44,44,255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: 90%;
  max-width: 500px; /* Max width */
  max-height: 80%; /* Max height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
}
.modal-box:hover{
  transform: scale(1.05);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: #ccc;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.modal-content input {
  margin-right: 10px;
}

.add-btn {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.text-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .modal-box {
      width: 95%; /* Reduce width on smaller screens */
      padding: 15px;
  }

  .btn {
      font-size: 14px; /* Adjust button font size */
      padding: 8px 16px;
  }

  .modal-title {
      font-size: 16px; /* Adjust title font size */
  }

  .modal-content {
      flex-direction: column; /* Stack elements vertically */
      align-items: stretch; /* Ensure full width for child elements */
  }

  .text-input {
      margin: 0 0 10px 0; /* Adjust margin for stacking */
  }
}

.user-info {
  display: none;
  margin-top: 5px;
}
.user-info img {
  border-radius: 50%;
}
.error {
  color: red;
  margin-top: 5px;
  font-family: "DM Sans", monospace, sans-serif;
}
.success {
  color: green;
  margin-top: 5px;
  font-family: "DM Sans", monospace, sans-serif;
}

.info-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  font-family: "Montserrat", monospace, sans-serif;
}

.info-content {
  display: none;
  position: absolute;
  background-color: #1d1d1d;
  color: white;
  padding: 10px;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  width: 200px;
  z-index: 1;
  font-family: "Montserrat", monospace, sans-serif;
}

.info-button:hover + .info-content {
  display: block;
}
